# –ê–Ω–∞–ª–∏–∑ —Ñ–∏–ª—å–º–æ–≤ IMDb üé¨
–í —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ –º—ã –∏—Å—Å–ª–µ–¥—É–µ–º –¥–∞—Ç–∞—Å–µ—Ç —Ñ–∏–ª—å–º–æ–≤ IMDb: 
–ø–æ—Å—á–∏—Ç–∞–µ–º –æ—Å–Ω–æ–≤–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏, –ø–æ—Å–º–æ—Ç—Ä–∏–º –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ –∂–∞–Ω—Ä—ã, 
–Ω–∞–π–¥—ë–º —Ñ–∏–ª—å–º —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –ø—Ä–∏–±—ã–ª—å—é –∏ –ø–æ—Å—Ç—Ä–æ–∏–º –≥—Ä–∞—Ñ–∏–∫–∏.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# –ù–∞—Å—Ç—Ä–æ–π–∫–∞ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è –≥—Ä–∞—Ñ–∏–∫–æ–≤
sns.set(style="darkgrid")

In [4]:
# –ó–∞–≥—Ä—É–∂–∞–µ–º CSV
df = pd.read_csv("IMDB-Movie-Data.csv")

# –ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —Ñ–∏–ª—å–º–æ–≤
–ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ä–µ–π—Ç–∏–Ω–≥–∞ –ø–æ –≤—Å–µ–º—É –¥–∞—Ç–∞—Å–µ—Ç—É.

In [6]:
average_rating = df["Rating"].mean()
print(f"–°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —Ñ–∏–ª—å–º–æ–≤: {average_rating:.2f}")

–°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —Ñ–∏–ª—å–º–æ–≤: 6.72

**–í—ã–≤–æ–¥:** –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —Ñ–∏–ª—å–º–æ–≤ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç –ø—Ä–∏–º–µ—Ä–Ω–æ 6.72 –±–∞–ª–ª–æ–≤.

## –°–∫–æ–ª—å–∫–æ —Ñ–∏–ª—å–º–æ–≤ –∂–∞–Ω—Ä–∞ Action?
–£—á—Ç—ë–º, —á—Ç–æ —É —Ñ–∏–ª—å–º–∞ –º–æ–∂–µ—Ç –±—ã—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ –∂–∞–Ω—Ä–æ–≤.

In [7]:
action_movies = df[df["Genre"].str.contains("Action", na=False)]
print("–§–∏–ª—å–º–æ–≤ —Å –∂–∞–Ω—Ä–æ–º Action:", len(action_movies))

–§–∏–ª—å–º–æ–≤ —Å –∂–∞–Ω—Ä–æ–º Action: 303

**–í—ã–≤–æ–¥:** –í –¥–∞—Ç–∞—Å–µ—Ç–µ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è 303 —Ñ–∏–ª—å–º–æ–≤ –∂–∞–Ω—Ä–∞ Action.

## –§–∏–ª—å–º —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –ø—Ä–∏–±—ã–ª—å—é
–ù–∞–π–¥—ë–º —Ñ–∏–ª—å–º, –∫–æ—Ç–æ—Ä—ã–π –ø—Ä–∏–Ω—ë—Å –Ω–∞–∏–±–æ–ª—å—à–∏–π –¥–æ—Ö–æ–¥.

In [5]:
max_rev_movie = df.loc[df["Revenue (Millions)"].idxmax()]
print("–§–∏–ª—å–º:", max_rev_movie["Title"])
print("–î–æ—Ö–æ–¥:", max_rev_movie["Revenue (Millions)"], "–º–ª–Ω $")

–§–∏–ª—å–º: Star Wars: Episode VII - The Force Awakens
–î–æ—Ö–æ–¥: 936.63 –º–ª–Ω $

**–í—ã–≤–æ–¥:** –°–∞–º—ã–º –ø—Ä–∏–±—ã–ª—å–Ω—ã–º —Ñ–∏–ª—å–º–æ–º –æ–∫–∞–∑–∞–ª—Å—è Star Wars: Episode VII - The Force Awakens —Å –¥–æ—Ö–æ–¥–æ–º 936.63 –º–ª–Ω –¥–æ–ª–ª–∞—Ä–æ–≤.

## –°—Ä–µ–¥–Ω—è—è –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Ñ–∏–ª—å–º–æ–≤

In [8]:
average_runtime = df["Runtime (Minutes)"].mean()
print(f"–°—Ä–µ–¥–Ω—è—è –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Ñ–∏–ª—å–º–æ–≤: {average_runtime:.1f} –º–∏–Ω—É—Ç")

–°—Ä–µ–¥–Ω—è—è –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Ñ–∏–ª—å–º–æ–≤: 113.2 –º–∏–Ω—É—Ç

**–í—ã–≤–æ–¥:** –í —Å—Ä–µ–¥–Ω–µ–º —Ñ–∏–ª—å–º—ã –¥–ª—è—Ç—Å—è –æ–∫–æ–ª–æ 113 –º–∏–Ω—É—Ç.

## –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ —Ñ–∏–ª—å–º–æ–≤

In [ ]:
sns.histplot(df["Rating"], bins=20, kde=True)
plt.title("–†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ —Ñ–∏–ª—å–º–æ–≤")
plt.xlabel("–†–µ–π—Ç–∏–Ω–≥")
plt.ylabel("–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ñ–∏–ª—å–º–æ–≤")
plt.show()